<div class="favouriteMainDiv">
  <!-- Back - To movies page -->
  <p class="backPara" ng-click="backTomoviesPage()">
    <i class="fa fa-angle-left" style="margin-right: 5px"></i> back
  </p>

  <!-- Show when there is no item in favourite. -->
  <div ng-if="!favUniversities.length" style="color: white; font-size: 20px">
    No Favourite Items.
  </div>

  <!-- Favourite items -->
  <div class="favDiv">
    <div
      class="univerItem"
      ng-if="favUniversities.length"
      ng-repeat="movies in favUniversities"
    >
      <!-- movies name -->
      <span
        class="univerName"
        ng-click="openmoviesLink(movies.web_pages)"
        >{{ movies.name }}</span
      >

      <!-- movies state and country. -->
      <p class="univerCountryAll">
        {{ movies['state-province'] }}, {{ movies.country }} ({{
        movies.alpha_two_code }})
      </p>

      <!-- movies domain name -->
      <p class="domainPara">
        <b>Domain:</b> <span class="univerDomain">upes.ac.in</span>
      </p>

      <!-- Remove from favourite button -->
      <p
        style="
          text-align: right;
          display: flex;
          justify-content: space-between;
          align-items: end;
        "
      >
        <span
          ><button
            type="button"
            class="search-button"
            style="background-color: #dc3545"
            ng-click="handleRemoveFavClick(movies)"
          >
            Remove from Fav.
          </button>
        </span>

        <!-- Copy to Clipboard -->
        <span class="copyToClip" ng-click="copyClipboard(movies.name)">
          <i class="fa fa-copy copyToClip"></i>
          copy to clipboard</span
        >
      </p>
    </div>
  </div>
</div>
